*{
    margin: 0;
    padding: 0;
}

body{
    /* background: #548687; */
    text-align: center;
    /* background-image: url(https://www.shutterstock.com/image-vector/seamless-pattern-game-tic-tac-600w-709731865.jpg); */
    /* z-index: -100; */
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}
.all{
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: -1;
    height: 100vh;
}
/* #img
{
    pointer-events: none;
    position:absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0;
    z-index: -100;
    opacity: 0.8;
} */
#heading{
    color: #826AED;
    font-size: 50px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgba(0, 0, 0, 0.3); */
    display: inline;
    justify-content: center;
}

.container{
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #826AED;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #826AED;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg
{
    color:#ffffff;
    font-size: 8vmin;
    background-color: rgba(200, 121, 255, 0.5);
}
.msg-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vmin;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.hide{
    display: none;
}

#start
{
    color: white;
    font-size: 4vmin;
    margin-top:20px ;
    
}

#start-btn{
    font-size: 3vmin;
    padding: 5px;
    color: #ffffff;
    background-color: #826AED;
    border: none;
}

#hide{
    display: none;
}

.choice{
    color: white;
    font-size: 4vmin;
    margin-top: 10px;
}

#X-choose
{
    font-size: 3vmin;
    padding: 5px;
    margin-right: 5px;
    width: 40px;
}
#O-choose
{
    font-size: 3vmin;
    padding: 5px;
    width: 40px;
}

.turns{
    color: white;
    font-size: 4vmin;
    margin-top: 10px;
}